<script>
    $(document).ready(function () {

        $(function () {
            $('#addStarTimePicker').timepicker(
                {
                    timeFormat: 'h:mm ',
                    interval: 30,
                    minTime: '1:00',
                    maxTime: '5:00',
                    defaultTime: '2:00',
                    startTime: '1:00',
                    dynamic: false,
                    dropdown: true,
                    scrollbar: true
                });
        });
    });
</script>

<div id="mainContent">
    <form id="starForm" action="/api/Stars" method="Post">
        <div class="form-group">
            <label class="form-control-label" for="firstName">Имя:</label>
            <input name="FirstName" required type="text" class="form-control" id="firstName" placeholder="Ваше имя">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="lastName">Фамилия:</label>
            <input name="LastName" required type="text" class="form-control" id="lastName" placeholder="Ваша фамилия">
        </div>
        <div class="form-group">
            <label for="regEmail">E-Mail:</label>
            <input name="EMail" required type="email" class="form-control" id="regEmail" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="time">Продолжительность выступления:</label>
            <input type="text" name="Time" class="form-control" id="addStarTimePicker" required placeholder="2:00">
        </div>
        <div class="form-group">
            <label for="price">Цена выступления:</label>
            <div class="form-control clearMarginAndPadding" ><i class="fa fa-ruble rubIcon" style="font-size:24px"></i><input type="number" value="1000" min="100" step="100" name="Price" required id="addStarPrice" placeholder="5000р"></div>
        </div>
        <div class="form-group">
            <label for="descriptionTextArea">Описание:</label>
            <textarea name="Description" required class="form-control" id="descriptionTextArea" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark myBtn">Зарегистрироваться</button>
    </form>
    </div>