@model Tuple<List<ApplicationUser>, List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>> 

<div id="mainContent">
    @using (Ajax.BeginForm("AddRoleToUser", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <select id="userName" name="userName">
            @foreach (var item in Model.Item1)
            {
                <option value="@item.UserName">@item.UserName</option>
            }
        </select>
        <select id="roleName" name="roleName">
            <option value="empty">Без роли</option>
            @foreach (var item in Model.Item2)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
        <button class="myBtn btn-dark btn addRoleBtn" type="submit">Назначить</button>
    }
   
    <div id="results"></div>
</div>
