@model int
<script>

    $(document).ready(function () {
        $.getJSON("/api/Stars/@Model", ///Нужно придумать другое получение!!!
            function (json) {
                var viewModel = {
                    id: json.Id,
                    name: json.FirstName + " " + json.LastName,
                    description: json.Description,
                    time: "Время выступления: " + json.Time,
                    price: "Цена выступления: " + json.Price + "р."
                }
                ko.applyBindings(viewModel);
            });
        
        $(".myPicker").flatpickr(
            {
                dateFormat: "d.m.Y",
                minDate: "today",
                maxDate: new Date().fp_incr(300),
                "locale": "ru",
            }
        );
        $(".timePicker").flatpickr(
            {
                enableTime: true,
                noCalendar: true,

                enableSeconds: false, // disabled by default

                time_24hr: true
            }
        );
    });
</script>
<link href="~/Content/datepicker.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/datepicker.js"></script>

<div id="mainContent">
    <div id="fullStarCardName" data-bind="text:name" class="titleText"></div>
    <div id="actionInfoContainer">
        <div id="starTime" data-bind="text:time"></div>
        <div id="starPrice" data-bind="text:price"></div>
    </div>
    <div id="fullStarCardDescription" data-bind="text:description"></div>
    <form id="orderContainer" action="/api/OrderModels" method="post">
        <input name="StarId" data-bind="attr:{value:id}" hidden >
        <p id="orderTitle" class="titleText">Заказать выступление</p>
            <br />
        <div id="city">
            <p class="orderText">Ваш город:</p>
            <select name="City">
                <option value="Voronezj">Воронеж</option>
                <option value="Moscow">Москва</option>
            </select>
        </div>
        <div id="date">
            <p class="orderText">Дата выступления:</p>
            <input type="text" name="Date" required class="myPicker" placeholder="Выберите дату выступления...">
        </div>
        <div id="time">
            <p class="orderText">Время начала:</p>
            <input type="text" class="timePicker" name="Time" required  placeholder="Выберите время начала выступления...">
        </div>
        <div id="orderBtnContainer">
            <button type="submit" class="btn myBtn btn-dark">Заказать</button>
        </div>
    </form>
</div>





