@model int

<div id="mainContent">
</div>

<script>
    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("/api/Stars/@Model",
            function (json) {
                $("#mainContent").append("<div id='fullStarCardName'>" + json.FirstName + " " + json.LastName + "</div>");
                $("#mainContent").append("<div id='fullStarCardDescription'></div>")
                $("#fullStarCardDescription").append(json.Description)
            });
    });


</script>



