@model int
<script>


    $(document).ready(function () {
  
        //Call EmpDetails jsonResult Method
        $.getJSON("/api/Stars/@Model",
            function (json) {
                var viewModel = {
                    name: json.FirstName + " " + json.LastName,
                    description: json.Description,
                    time: "Время выступления: "+"2:30",
                    price: "Цена выступления: "+"63000р."
                }
                ko.applyBindings(viewModel);
            });
        
        $(".myPicker").flatpickr(
            {
                dateFormat: "d.m.Y",
                minDate: "today",
                maxDate: new Date().fp_incr(300),
                "locale": "ru",
            }
        );
        $(".timePicker").flatpickr(
            {
                enableTime: true,
                noCalendar: true,

                enableSeconds: false, // disabled by default

                time_24hr: true
            }
        );
    });
</script>
<link href="~/Content/datepicker.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/datepicker.js"></script>

<div id="mainContent">
    <div id="fullStarCardName" data-bind="text:name" class="titleText"></div>
    <div id="actionInfoContainer">
        <div id="starTime" data-bind="text:time"></div>
        <div id="starPrice" data-bind="text:price"></div>
    </div>
    <div id="fullStarCardDescription" data-bind="text:description"></div>
    <form id="orderContainer">
            <p id="orderTitle" class="titleText">Заказать выступление</p>
            <br />
        <div id="city">
            <p class="orderText">Ваш город:</p>
            <select name="city">
                <option value="Voronezj">Воронеж</option>
                <option value="Moscow">Москва</option>
            </select>
        </div>
        <div id="date">
            <p class="orderText">Дата выступления:</p>
            <input name="date" т class="myPicker" placeholder="Выберите дату выступления..."></input>
        </div>
        <div id="time">
            <p class="orderText">Время начала:</p>
            <input name="time" class="timePicker" placeholder="Выберите время начала выступления..."></input>
        </div>
        <div id="orderBtnContainer">
            <button type="submit" class="btn myBtn btn-dark">Заказать</button>
        </div>
            </form>
</div>





