<!--Html.Partial("StarCard");-->
<script>
    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("/api/Stars",
            function (json) {
                //Append each row to html table

                for (var i = 0; i < json.length; i++) {
                    $(".starName."+i).append(json[i].FirstName);
                    $(".starName."+i).append(" " + json[i].SecondName);


                    if (json[i].Description.length > 230)
                    $(".starDescription." + i).append(json[i].Description.substr(0,230)+"...");
                        else
                    $(".starDescription." + i).append(json[i].Description);
                }
            });
    });
</script>

@using OrderOfStars.Controllers;
@{           
            StarsController starsController = new StarsController();///Тут будет типа 
            int length = starsController.ReturnLength();///////////////костылик...

           
            for (int i = 0; i < length; i++)
            {
        <div class="starCard @i" onclick="location.href='@Url.Action("Index","StarCard",new { id = i })'">
            <img />
            <p class="starName @i"></p>
            <p class="starDescription @i"></p>
        </div>

    }
}
