
    <div id="mainContent" data-bind="foreach: star">
        <div class="starCard" data-bind="click: function () { myFunction(id)  }">
            <img class="starImg" />
            <p class="starName" data-bind="text: name"></p>
            <p class="starDescription" data-bind="text: starDescription"></p>
        </div>
    </div>


<script>
    function myFunction(index) {
        var url = "StarCard/Index/" + index;
        window.location.href = url;
    };

    $(document).ready(function () {
        $.getJSON("/api/Stars",
            function (json) {
               

                function ViewModel() {
                    var self = this;
                    self.star = ko.observableArray([]);

                    for (var i = 0; i < json.length; i++) {
                        var description = "";

                        if (json[i].Description.length > 180) 
                            description = json[i].Description.substr(0, 180) + "...";
                        else 
                            description = json[i].Description

                        self.star.push({
                            id:i,
                            name: json[i].FirstName + " " + json[i].LastName,
                            starDescription: description

                        });  
                    }
                };
                ko.applyBindings(new ViewModel);
            });
    });
</script>








