<script>
    function myFunction(index) {
        var url = "StarCard/Index/" + index;
        window.location.href = url;
    };

    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("/api/Stars",
            function (json) {
                //Append each row to html table

                for (var i = 0; i < json.length; i++) {
                    $("#mainContent").append("<div class='starCard " + i + "'onclick='myFunction("+i+")'></div>");
                   
                    var starCard = $(".starCard." + i);
                    starCard.append("<img/>");
                    starCard.append("<p class='starName "+i+"'></p>");
                    starCard.append("<p class='starDescription " + i + "'></p>");

                 

                    $(".starName." + i).append(json[i].FirstName);
                    $(".starName."+i).append(" " + json[i].LastName);
                    if (json[i].Description.length > 180)
                    $(".starDescription." + i).append(json[i].Description.substr(0,180)+"...");
                        else
                    $(".starDescription." + i).append(json[i].Description);
                }
            });
    });
</script>
