@{
     int n = 11;
     for (int i = 1; i < n; i++)
     {

<div class="starCard">
        <img />
        <p class="starName">Звезда Номер @i</p>
        <p class="starDescription">Очень много текста, ибо это описание звезды, ведь Вы, когда заказываетте звезду, наверняка, не знаете, ЧТО ЭТО ЗА ХЕР С ГОРЫ. Описание вам в помощь.</p>
</div>

            }
        }

  
@{ 
   // OrderOfStars.Models.OrderOfStarsBaseContext myContext = new OrderOfStars.Models.OrderOfStarsBaseContext();

   // myContext.Users.Add(new OrderOfStars.Models.Users { Name = "asd", IsStar = true });
  //  myContext.SaveChanges();


}