<div id="fullStarCard">
    <div class="starNameFullCard">@ViewBag.FirstName @ViewBag.SecondName</div>
    <div class="starEMailFullCard">@ViewBag.EMail</div>
    <div class="starDescriptionFullCard">@ViewBag.Description</div>
</div>


