@model AspNetIdentityApp.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
       <div class="pageUpTitle">Регистрация пользователя</div>
        <hr />
        @Html.ValidationSummary(false)

    

       <div class="form-group">
            <label for="Email">Ваш E-Mail:</label>
            <input name="Email" required type="email" class="form-control" id="Email" placeholder="name@example.com">
        </div>
        <div class="form-group">
        <label for="Password">Ваш пароль:</label>
        <input name="Password" required type="password" id="Password" class="form-control" aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Ваш пароль может быть длинной 8-20 симолов, содержать латинские буквы и числа, и не должен иметь пробелов и специальных символов.
        </small>
    </div>
    <div class="form-group">
        <label required for="PasswordConfirm">Повторите пароль:</label>
        <input name="PasswordConfirm" type="password" id="PasswordConfirm" class="form-control" aria-describedby="passwordHelpBlock">
        <small id="passwordHelpBlock" class="form-text text-muted">
            Ваш пароль может быть длинной 8-20 симолов, содержать латинские буквы и числа, и не должен иметь пробелов и специальных символов.
        </small>
    </div>      
        <div>
            <div>
                <input type="submit" value="Зарегистрировать" />
            </div>
        </div>
    </div>
}